<!-- <h2>Calcul</h2>
<h3>Le calcul demandé est : <span><strong> {{op}}</strong></span></h3>
<p>les valeurs sont : <span>{{value1}}</span> et <span>{{ value2}}</span></p>
<p *ngIf="op !== 'div'; else pasParZero">
    Le résultat attendu est : <strong>{{result}}</strong>
</p>
<ng-template #pasParZero>
    <p [ngClass]="'impossible'">
        <em>{{divisionParZero}}</em>
    </p>
</ng-template> -->
<h2>Calcul</h2>
<div ngClass="contenaire-center">
    <h3>L'opérateur est : <span><strong> {{op}}</strong></span></h3>
    <p>les valeurs sont : <span>{{value1}}</span> et <span>{{ value2}}</span></p>
    <p *ngIf="divisionParZero == null; else error">
        Le résultat attendu est : {{ value1}} {{ op }} {{ value2}} = {{ result}}
    </p>
    <ng-template #error>
        <p [ngClass]="'impossible'"> {{ divisionParZero}} </p>
    </ng-template>
</div>