<a [routerLink]="lien">Page de lionel Messi</a>
<br />
<a [routerLink]="['stagiaire', nom, prenom]">Page de lionel Messi</a>
<br/>
<a [routerLink]="['adresse']" [queryParams]="{ville: 'Marseille',codePostal: '13100', rue:'paradis'}">Voulez-vous savoir où habite Lionel Messi ?</a>

<p>nom du stagiaire : {{ stagiaire.nom}}, prénom du stagiaire: {{ stagiaire.prenom ?? "prénom inconnue"}}</p>
<!-- Affichage d'un objet-->
<p> Affichage de la méthode direBonjour() : {{ direBonjour() }}</p> <!-- Affichage d'un méthode-->
<ul>
  <!-- Affichage d'un tableau-->
  <li>Affichage du Tableau tab[]</li>
  <li>{{ tab[0] }}</li>
  <li>{{ tab[1] }}</li>
</ul>

<!-- Liaison unidirectionnel ou ONE WAY BINDING -->
<p>Affichage du titre par interpolation : {{title}}</p> <!-- Affichage par interpolation ts vers html -->
<p>Affichage du Titre par Proprety Binding : </p>
<p [textContent]="title"></p> <!-- afifichage par Property binding tc vers html -->
<button (click)="displayBonjour()">Cliquer</button> <!-- Event binding html vers ts -->

<!-- TWO WAY BINDING [( )]  /!\ PENSER A IMPORTER LE MODULE-->

<!-- Traitement d'un tableau -->
<p>Traitement d'un tableau:</p>
<ul>
  <li *ngFor="let elt of tab; let i = index; let pair = even; let premier = first">
    {{ pair }} : {{ i }} | {{ elt }} : {{ premier }}
  </li>
</ul>

<p>Liste des Stagiaires:</p>
<ul>
  <li *ngFor="let elt of stagiaires">
    {{elt.prenom}} - {{ elt.nom}}
  </li>
</ul>
<!-- pour étirer sur un objet-->
<p>Pour étirer sur un objet</p>
<ul>
  <li *ngFor="let elt of stagiaire | keyvalue">
    {{elt.key}} : {{ elt.value}}
  </li>
</ul>
<!-- Condition -->
<p>Condition ngIf</p>
<p *ngIf="tab[0] > 0"> {{ tab[0] }} est positif</p>

<p *ngIf="tab[1] > 0; else negatif"> {{ tab[0] }} est positif</p>
<ng-template #negatif>
  <p> {{ tab[1] }} est négatif</p>
</ng-template>

<ul>
  <ng-container *ngFor="let elt of tab">
    <li *ngIf="elt > 0; else negatif">
      {{ elt}} est positif
    </li>
    <ng-template #negatif>
      <li *ngIf="elt < 0; else nul">
        {{ elt }} est négatif
      </li>
      <ng-template #nul>
        <li>
          {{ elt}} est null
        </li>
      </ng-template>
    </ng-template>
  </ng-container>
</ul>

<ul>
  <ng-container *ngFor="let elt of moyennes">
    <li *ngIf=" elt >= 0 && elt < 10; else moyen">
      La moyenne est de : {{ elt }} donc : échec
    </li>
    <ng-template #moyen>
      <li *ngIf="elt < 13; else bien">
        La moyenne est de : {{ elt }} donc : moyen
      </li>
      <ng-template #bien>
        <li *ngIf="elt < 16; else tresBien">
          La moyenne est de : {{ elt }} donc : bien
        </li>
      </ng-template>
      <ng-template #tresBien>
        <li>
          La moyenne est de : {{ elt }} donc : très bien
        </li>
      </ng-template>
    </ng-template>
  </ng-container>
</ul>

<p>Condition ngSwitch</p>
<ul>
  <ng-container *ngFor="let elt of tab1">
    <ng-container [ngSwitch]="elt">
      <li *ngSwitchCase="1">
        {{ elt }} = un
      </li>
      <li *ngSwitchCase="2">
        {{ elt }} = deux
      </li>
      <li *ngSwitchCase="3">
        {{ elt }} = trois
      </li>
      <li *ngSwitchDefault>
        {{ elt }} : autre
      </li>
    </ng-container>
  </ng-container>
</ul>

<p>Condition ngSwitch en testant le booléen avec ngSwitch = true</p>
<ul>
  <ng-container *ngFor="let elt of tab">
    <ng-container [ngSwitch]="true">
      <li *ngSwitchCase="elt < 0">
        {{ elt }} = négatif
      </li>
      <li *ngSwitchCase="elt > 0">
        {{ elt }} = positif
      </li>
      <li *ngSwitchCase="elt == 0">
        {{ elt }} = null
      </li>
      <li *ngSwitchDefault>
        {{ elt }} : autre
      </li>
    </ng-container>
  </ng-container>
</ul>

<ul>
  <ng-container *ngFor="let elt of moyennes">
    <ng-container [ngSwitch]="true">
      <li *ngSwitchCase="elt >= 0 && elt < 10">
        {{ elt }} : échec
      </li>
      <li *ngSwitchCase="elt < 13">
        {{ elt }} : moyen
      </li>
      <li *ngSwitchCase="elt < 16">
        {{ elt }} : bien
      </li>
      <li *ngSwitchDefault>
        {{ elt }} : très bien
      </li>
    </ng-container>
  </ng-container>
</ul>

<ul>
  <ng-container *ngFor="let elt of stagiaires">
    <ng-container [ngSwitch]="true">
      <li *ngSwitchCase="elt.prenom ==='John'">
        {{ elt.prenom }} {{elt.nom}} : the best
      </li>
      <li *ngSwitchCase="elt.prenom ==='Bob'">
        {{ elt.prenom }} {{elt.nom}} : Hello World
      </li>
      <li *ngSwitchDefault>
        {{ elt.prenom }} {{elt.nom}} : In da place
      </li>
    </ng-container>
  </ng-container>
</ul>

<p>Faire des changement de couleur</p>

<p [ngClass]="{'vert': true}">
  {{ title }}
</p>

<ul>
  <ng-container *ngFor="let elt of tab">
    <li [ngClass]="elt%2 == 0 ? 'rouge' : 'bleu'">
      {{ elt }}
    </li>
  </ng-container>
</ul>

<ul>
  <ng-container *ngFor="let s of stagiaires, index as i; even as p">
    <li [ngClass]=" p ? 'rouge' : 'bleu'">
      {{ i }} : {{ s.prenom }} {{s.nom}}
    </li>
  </ng-container>
</ul>
