<ul>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/'> Accueil </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: false }">
        <a routerLink='/cours/stagiaire'> Stagiaire </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/cours/adresse'> Adresse </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/cours/observable'> Observable </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/exercice/tableau/0'> Tableau </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/exercice/calcul'> Calcul </a>
    </li>
</ul>