
<ul class="nav justify-content-center">
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <a routerLink='/'> Accueil </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: false }" class="nav-item">
        <a routerLink='/cours/stagiaire'> Stagiaire </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <a routerLink='/cours/adresse'> Adresse </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <a routerLink='/cours/observable'> Observable </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <a routerLink='/cours/personne'> gestion personne </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <a routerLink='/exercice/tableau/0'> Tableau </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <a routerLink='/exercice/calcul'> Calcul </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <a routerLink='/exercice/calculette'> calculette </a>
    </li>
</ul>