<ul>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/'> Accueil </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: false }">
        <a routerLink='/stagiaire'> Stagiaire </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/adresse'> Adresse </a>
    </li>
    <li routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink='/observable'> Observable </a>
    </li>
</ul>