<h2>Tableau</h2>
<p>Tableau <span>[{{ indice }}]</span> = <strong>{{numbers[indice]}}</strong> </p>

<a [routerLink]="pagePrecedent">Précédent</a> | <a [routerLink]="pageSuivante">Suivant</a>
<br/>

<ul>
    <li *ngFor="let elt of numbers | evenValue">
        {{ elt }}
    </li>
  </ul>

  <br />

  <span style="color: Tomato;">
    <i class="fab fa-angular fa-7x"></i>
    </span>
    <i class="fab fa-angular fa-3x fa-rotate-90"></i>
    <i class="fas fa-camera"></i>
    <i class="fa fa-home fa-5x"></i>
    <i class="fa fa-home fa-5x fa-flip-horizontal"></i>
    <span style="color: skyblue;" class="fa-3x">
    <i class="fas fa-stroopwafel fa-spin"></i>
    </span>