/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Shippori+Antique&display=swap');

*{
    font-family: 'Gochi Hand', cursive;
    font-family: 'Shippori Antique', sans-serif;
}

body{
    padding: 10px;
    margin: 20px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    color: red;
}
span{
    color: tomato;
    text-transform: capitalize;
}
strong{
    text-transform: uppercase;
}
ul{
    list-style-type: none;
}

.impossible{
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}